
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>Cảm ơn bạn đã đặt hàng tại shop... :))</h1>
    <a class="btn btn-success" href="@Url.Action("Index","Book")">Tiếp tục shopping</a>
</body>
