@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style>
        h1 {
            background-color:yellow;
            font-weight:bold;
        }
    </style>
    <h1 class="display-4">Welcome to my </h1>
    <p>check commit code</p>
</div>
